<div class="container-fluid">
    <h4 class="mt-5 mb-3" *ngIf="this.addEditParam === 'add'">Dodavanje novog korisnika</h4>
    <h4 class="mt-5 mb-3" *ngIf="this.addEditParam !== 'add'">Informacije o korisniku</h4>
    <form [formGroup]="addEditForm" class="w-25">
        <div class="form-group">
            <label>Korisnicko ime</label>
            <input [class.is-invalid]="korisnickoIme.invalid &&
            korisnickoIme.touched" formControlName="korisnickoIme" type="text" class="form-control">
            <small [class.d-none]="korisnickoIme.valid
            || korisnickoIme.untouched" class="text-danger">Korisnicko ime je obavezno!</small>
            <small *ngIf="korImeExists && this.addEditParam === 'add'" class="text-danger">Uneto korisnicko ime je zauzeto!</small>
        </div>
        <div class="form-group">
            <label>Lozinka</label>
            <input [class.is-invalid]="lozinka.invalid &&
            lozinka.touched" formControlName="lozinka" type="password" class="form-control">
            <small [class.d-none]="lozinka.valid
            || lozinka.untouched" class="text-danger">Lozinka je obavezna!</small>
        </div>
        <div class="form-group" *ngIf="addEditParam !== 'add'">
            <label>Uloga</label>
            <input formControlName="ulogaEdit" type="text" class="form-control">
        </div>
        <div class="form-group" *ngIf="this.addEditParam === 'add'">
            <label class="control-label">Uloga korisnika</label>
            <select class="form-control" formControlName="uloga" required>
                <option [ngValue]="null" disabled>Izaberite ulogu korisnika</option>
                <option *ngFor="let uloga of uloge" [ngValue]="uloga">
                 {{ uloga }}
                </option>
              </select> 
        </div>
        <div class="form-group" *ngIf="izvrsilacSelected" >
            <label class="control-label">Banka</label>
            <select class="form-control"  formControlName="banka">
                <option [ngValue]="null" disabled>Izaberite banku</option>
                <option *ngFor="let banka of banke" [ngValue]="banka">
                 {{ banka.naziv }}, {{ banka.sifra}}
                </option>
              </select> 
        </div>
        <div class="form-group" *ngIf="addEditParam !== 'add' && korisnik !== undefined && korisnik.uloga === 'ROLE_IZVRSILAC'">
            <label>Izvrsioc u banci</label>
            <input formControlName="bankaEdit" type="text" class="form-control">
        </div>
    <button *ngIf="this.addEditParam === 'add'" class="btn btn-primary" (click)="submitKorisnik('add')" [disabled]="addEditForm.invalid || korImeExists || !ulogaSelected || (izvrsilacSelected && !bankaSelected)" type="submit">Dodaj</button>
    <button *ngIf="this.addEditParam !== 'add'" class="btn btn-primary" (click)="submitKorisnik('edit')" [disabled]="addEditForm.invalid" type="submit">Izmeni</button>

</form>

</div>