<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 mb-5">
        <div class="card text-center">
            <button class="btn" (click)="viewBanke()"><i class=""></i> Banke</button>
        </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card text-center">
  
            <button class="btn" (click)="viewKorisnici()"><i class=""></i> Korisnici</button>
  
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-center">
  
            <button class="btn" (click)="viewDelatnosti()"><i class=""></i> Delatnosti</button>
  
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-center">
  
            <button class="btn" (click)="viewKlijenti()"><i class=""></i> Klijenti</button>
  
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-center">
  
            <button class="btn" (click)="viewDrzave()"><i class=""></i> Drzave</button>
  
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-center">
  
            <button class="btn" (click)="viewValute()"><i class=""></i> Valute</button>
  
          </div>
        </div>
    </div>
  </div>
  