<div class="container-fluid">
    <h4 class="mt-5 mb-3">Informacije o klijentu</h4>
    <form [formGroup]="addEditForm" class="w-25">
        <div class="form-group">
            <label>Ime</label>
            <input formControlName="ime" type="text" class="form-control">
        </div>
    <div class="form-group">
        <label>Prezime</label>
        <input formControlName="prezime" type="text" class="form-control">

    </div>
    <div class="form-group">
        <label>JMBG</label>
        <input formControlName="jmbg" type="text" class="form-control">
    </div>
<div class="form-group">
    <label>Korisnicko ime</label>
    <input formControlName="korisnickoIme" type="text" class="form-control">

</div>

<div class="form-group">
    <label>Tip klijenta</label>
    <input formControlName="tipKlijenta" type="text" class="form-control">

</div>

<div class="form-group">
    <label>Delatnost</label>
    <input formControlName="delatnost" type="text" class="form-control">

</div>

    </form>



