<div class="container-fluid">
    <h4 class="mt-5 mb-3" >Zahtev za otvaranje racuna</h4>
    <form [formGroup]="addEditForm" class="w-25">
       
    <div class="form-group">
        <label class="control-label">Banka</label>
        <select class="form-control" formControlName="banka" >
            <option disabled>Izaberite banku</option>
            <option *ngFor="let banka of banke" [ngValue]="banka">
              {{ banka.naziv }}, {{ banka.sifra }}
            </option>
          </select> 
          <small *ngIf="!bankaSelected && banka.touched" class="text-danger">Molimo vas izaberite banku!</small> 
    </div>
   
    <div class="form-group">
        <label class="control-label">Valuta</label>
        <select class="form-control" formControlName="valuta" >
            <option disabled>Izaberite valutu</option>
            <option *ngFor="let valuta of valute" [ngValue]="valuta">
              {{ valuta.naziv }}, {{ valuta.sifra }}
            </option>
          </select> 
          <small *ngIf="!valutaSelected && valuta.touched" class="text-danger">Molimo vas izaberite valutu!</small> 
    </div>
    <button class="btn btn-primary" (click)="submitZahtev(0)" [disabled]="addEditForm.invalid  || !valutaSelected || !bankaSelected" type="submit">Posalji zahtev</button>
    </form>

    <div class="container-fluid mt-5">
        <h2 class="mt-3">Zahtevi za aktivaciju racuna u toku: </h2>
        <table class="table table-hover w-50">
            <thead>
                <tr>
                <th>#</th>
                <th>Broj racuna</th>
                <th> Datum kreiranja</th>
                <th> Banka</th>   
                <th> Valuta</th>  
                </tr>
            </thead>
            <tbody *ngFor="let racun of racuni; index as i">
                <tr>
                <td>{{i+1}}</td><td>{{racun.brojRacuna}}</td><td>{{racun.datumKreiranja | date:'short'}}</td>
                <td>{{racun.banka.naziv}}</td><td>{{racun.valuta.sifra}}</td>
                </tr>
            </tbody>
            </table>
    </div>

    
</div>