
<div class="container-fluid mt-5">
    <h2 class="mt-3">Aktivni zahtevi za ukidanje racuna: </h2>
    <table class="table table-hover w-50">
        <thead>
            <tr>
            <th>#</th>
            <th>Klijent</th>
            <th>Datum kreiranja</th>
            <th>Racun za ukidanje</th>
            <th>Racun za prenos novca</th>    
            <th>Stanje racuna koji se ukida</th>
            <th>Potvrda </th>
            <th>Potvrda </th>
            <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let obj of ukidanjaUToku; index as i">
            <tr>
            <td>{{i+1}}</td>
            <td *ngIf="obj.racunZaUkidanje !== undefined && obj.racunZaUkidanje.klijent !== undefined">
                {{obj.racunZaUkidanje.klijent.ime}} {{obj.racunZaUkidanje.klijent.prezime}}</td>
            <td>{{obj.datumKreiranja | date:'short'}}</td><td>{{obj.racunZaUkidanje.brojRacuna}}</td>
            <td *ngIf="obj.racunZaPrenosNovca !== null">{{obj.racunZaPrenosNovca.brojRacuna}}</td>
            <td *ngIf="obj.racunZaPrenosNovca === null">/</td>
            <td>{{obj.racunZaUkidanje.stanje}} {{obj.racunZaUkidanje.valuta.sifra}}</td>
            <td><a class="btn btn-sm text-white btn-danger" (click)="submitUkidanje('accepted',obj.id)">Ukini</a></td>
            <td><a class="btn btn-sm text-white btn-primary" (click)="submitUkidanje('rejected',obj.id)">Odbij</a></td>
            </tr>
        </tbody>
        </table>
</div>
<div class="container-fluid mt-5">
    <h2 class="mt-3">Ukinuti racuni: </h2>
    <table class="table table-hover w-50">
        <thead>
            <tr>
            <th>#</th>
            <th>Klijent</th>
            <th>Datum kreiranja</th>
            <th>Ukinut racun</th>
            <th>Racun na koji se preneo novac</th>    
            <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let obj of ukinutiRacuni; index as i">
            <tr>
                <td>{{i+1}}</td>
                <td *ngIf="obj.racunZaUkidanje !== undefined && obj.racunZaUkidanje.klijent !== undefined">
                    {{obj.racunZaUkidanje.klijent.ime}} {{obj.racunZaUkidanje.klijent.prezime}}</td>
                <td>{{obj.datumKreiranja | date:'short'}}</td><td>{{obj.racunZaUkidanje.brojRacuna}}</td>
                <td *ngIf="obj.racunZaPrenosNovca !== null">{{obj.racunZaPrenosNovca.brojRacuna}}</td>
            <td *ngIf="obj.racunZaPrenosNovca === null">/</td>
            </tr>
        </tbody>
        </table>
</div>

