<!-- 
<div class="container-fluid mt-5">
    <h2 class="mt-3">Aktivni zahtevi za otvaranje korisnickih naloga klijentima: </h2>
    <table class="table table-hover w-50">
        <thead>
            <tr>
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>JMBG</th>
            <th>Adresa</th>    
            <th>Tip klijenta</th>
            <th>Telefon </th>
            <th>Delatnost </th>
            <th>Potvrda</th>
            </tr>
        </thead>
        <tbody *ngFor="let obj of klijenti; index as i">
            <tr>
            <td>{{i+1}}</td>
            <td>{{obj.ime}}</td><td>{{obj.prezime}}</td>
            <td>{{obj.jmbg}}</td><td>{{obj.adresa}}</td>
            <td>{{obj.tipKlijenta}}</td><td>{{obj.telefon}}</td>
            <td *ngIf="obj.delatnost !== null">{{obj.delatnost.naziv}}</td>
            <td *ngIf="obj.delatnost === null">/</td>
            <td><a class="btn btn-sm text-white btn-success" (click)="submit('accepted',obj,1)">Odobri</a></td>
            <td><a class="btn btn-sm text-white btn-danger" (click)="submit('rejected',obj,1)">Odbij</a></td>
            </tr>
        </tbody>
        </table>
</div> -->

<div class="container-fluid mt-5">
    <h2 class="mt-3">Aktivni zahtevi za otvaranje racuna korisnicima: </h2>
    <table class="table table-hover w-50">
        <thead>
            <tr>
            <th>#</th>
            <th>Broj racuna</th>
            <th>Datum kreiranja</th>
            <th>Stanje racuna</th>
            <th>Klijent</th>    
            <th>Valuta</th>
            <th>Potvrda</th>
            </tr>
        </thead>
        <tbody *ngFor="let obj of racuni; index as i">
            <tr>
            <td>{{i+1}}</td>
            <td>{{obj.brojRacuna}}</td><td>{{obj.datumKreiranja | date:'short'}}</td>
            <td>{{obj.stanje}}</td><td>{{obj.klijent.ime }} {{obj.klijent.prezime}}</td>
            <td>{{obj.valuta.sifra}}</td>
            <td><a class="btn btn-sm text-white btn-success" (click)="submit('accepted',obj)">Odobri</a></td>
            <td><a class="btn btn-sm text-white btn-danger" (click)="submit('rejected',obj)">Odbij</a></td>
            </tr>
        </tbody>
        </table>
</div>




